@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-header-text {
    @apply text-primary text-sm font-bold;
  }

  .sidebar-child-text {
    @apply text-primary text-lg;
  }

  .card {
    @apply p-4 border rounded-md shadow-md bg-background;
  }
}

:root {
  --background: #e3e3e3;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3e3e3;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 230px 1fr 80px;
  height: 100vh;
}

.header {
  grid-area: header;
  width: 100%;
  display: flex;
  align-items: center;
}

.left-sidebar {
  grid-area: left;
  background-color: #f6f6f6;
  padding: 4px;
  border-right: 2px solid red;
  overflow-y: auto;
}

.main-content {
  grid-area: main;
  background-color: #e3e3e3;
}

.right-sidebar {
  grid-area: right;
  background-color: #e9ecef;
}
